.aboutContainer {
  font-family: "Poppins", sans-serif;
  margin-top: 160px;
  margin-left: 15px;
  margin-right: 15px;
}
/* Headlines Font */
main > h2,
h3 {
  font-family: "Poppins", sans-serif;
}

/* Text Font */
main > p {
  font-family: "Karla", sans-serif;
}
