body {
  height: 100% !important;
  width: 100% !important;
  margin-top: 0 !important;
  margin-left: 0 !important;
}

#arObject {
  visibility: hidden;
}

.camera-active #arObject {
  visibility: visible;
}

#arjs-video {
  visibility: hidden;
}

.camera-active #arjs-video {
  visibility: visible;
}

#screenOverlay {
  position: fixed;
  width: 200%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

.camera-active #screenOverlay {
  z-index: 1;
}

.arjs-loader {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #3b2d60;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arjs-loader div {
  text-align: center;
  font-size: 1.25em;
  color: white;
}

.textInput {
  width: 0%;
  height: 0%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
  overflow: hidden;
}

#planeHTML {
  height: 500px;
  width: 2500px;

  text-align: center;

  align-items: center;
  background-color: white;
  display: inline flex;
  position: relative;

  white-space: nowrap;
  font-size: 100px;
}
