.header {
  background-color: #3b2d60;
  position: fixed;
  width: 100%;
  top: 0;
}
.Navigation {
  /* background-color: #3b2d60; */
  margin-bottom: -65px;
  width: 100%;
  position: sticky;
}
.headerContainer {
  /* background-color: #3b2d60; */
  padding: 0px;
  width: 100%;
  padding-bottom: 20px;
  top: -20px;
  color: white;
  font-family: "Poppins", sans-serif;
}

.headerContainer > span {
  color: #ffdd9b;
  font-size: 18px;
}
.textContainer {
  padding: 6px;
}

.textContainer > p {
  text-align: center;
  font-size: 22px;
  margin-bottom: 10px;
  font-weight: 600px;
}
.textContainer > span {
  color: #ffdd9b;
  font-size: 18px;
  text-align: center;
}
