.ArScreen {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.74);
  height: 100vh;
  width: 100%;
  color: white;
  /* overflow: scroll; */
}

´ .content {
  background-color: rgb(127, 140, 255);
  /* display: flex; */
  text-align: center;
}

/* .content > h1 {
  font-size: 15px;
} */

.iconContainer {
  /* color: white; */
  color: #99dcdb;
  position: fixed;
  left: 10%;
  right: 10%;
  /* right: 10%; */
  font-size: 30px;
  /* padding-right: 6%;
  padding-left: 6%; */
  bottom: 10px;
}

.link {
  margin-top: 50px;
  font-size: 22px;
  color: #99dcdb;
  position: fixed;
  top: -35px;
  left: 0;
  padding-left: 15px;
}

/* After 5th click show the Ar Screen */
.containerArModeOn {
  position: fixed;
  /* background-color: rgba(0, 0, 0, 0); */
  height: 100vh;
  width: 100%;
  z-index: -1;
  /* padding-top: 30px; */

  /* overflow: scroll; */
}
/* .containerArModeOn > a {
  color: rgb(43, 46, 255);
} */

.iconPosition {
  margin-left: 10px;
  margin-right: 10px;
}

.iconFont {
  margin-left: 10px;
  margin-right: 10px;
}
.iconColor {
  margin-left: 10px;
  margin-right: 10px;
}

/* .iconCamera {
  margin-left: 10px;
  margin-right: 10px;
} */

/* color: #99dcdb; */
.iconContainer2 {
  color: white;
  /* font-size: 30px;
  padding-right: 10px;
  padding-left: 10px;
  margin-top: 0px; */

  position: fixed;
  left: 10%;
  right: 10%;
  font-size: 30px;
  /* padding-right: 20%;
  padding-left: 20%; */
  bottom: 10px;
}
.iconContainer3 {
  /* color: #c8dc99; */
  /* background-color: rgb(95, 143, 131); */
  /* font-size: 30px;
  padding-right: 10px;
  padding-left: 10px;
  margin-top: 0px; */
  /* color: #99dcdb; */
  color: white;
  position: fixed;
  left: 10%;
  right: 10%;
  font-size: 30px;
  /* padding-right: 20%;
  padding-left: 20%; */
  bottom: 10px;
}
.visibleText {
  color: white;
  font-family: "Karla", sans-serif;
  font-size: 22px;
  /* position: fixed;
  left: 15vw;
  top: 60vh; */
  width: 220px;
  margin: auto;
  margin-top: 35vh;
  margin-bottom: 0px;
  /*width: 250px;
  height: 30px;
  background-color: aquamarine; */
}

.hiddenText {
  display: none;
  z-index: -1;
  /* color: rgba(255, 255, 255, 0);
  font-family: "Karla", sans-serif;
  font-size: 22px;
  position: fixed;
  left: 5vw;
  top: 60vh; */
}
.visibleText > p {
  color: white;
  font-family: "Karla", sans-serif;
  font-size: 22px;
}
.visibleText > p > span {
  color: #ffdd9b;
  font-family: "Karla", sans-serif;
  font-size: 22px;
}
.visibleText > span {
  color: #ffdd9b;
  font-family: "Karla", sans-serif;
  font-size: 28px;
}
.activeIconCamera {
  color: #99dcdb;
  margin-left: 10px;
  margin-right: 10px;
  z-index: 30;
}

.inactiveIconCamera {
  color: white;
  margin-left: 10px;
  margin-right: 10px;
  z-index: 30;
}

@media screen and (orientation: landscape) {
  .iconContainer {
    /* color: white; */
    position: fixed;
    top: 10%;
    bottom: 10%;
    color: #99dcdb;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    gap: 1.5rem;
    font-size: 35px;
    /* margin-bottom: 4rem; */
    /* right: 0; */
    margin-right: -8.5rem;
    padding-right: 0%;
    padding-left: 0%;
    left: 92%;
    /* bottom: 10px; */
    z-index: 30;
  }

  .iconContainer2 {
    color: white;
    position: fixed;
    top: 10%;
    bottom: 10%;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    gap: 1.5rem;
    font-size: 35px;
    /* margin-bottom: 4rem; */
    right: 0;
    margin-right: -8.5rem;

    /* left: 0; */
    padding-right: 0%;
    padding-left: 0%;
    left: 92%;
    /* bottom: 10px; */
    z-index: 30;
  }
  .iconContainer3 {
    color: white;
    position: fixed;
    top: 10%;
    bottom: 10%;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    gap: 1.5rem;
    font-size: 35px;
    /* margin-bottom: 4rem; */
    right: 0;
    margin-right: -8.5rem;
    padding-right: 0%;
    padding-left: 0%;
    left: 92%;
    z-index: 30;
  }
}

.arrowIcon {
  transform: rotate(90deg);
  color: #99dcdb;
  font-size: 70px;
  margin-top: 200px;
}
.arrowIconResults {
  transform: rotate(90deg);
  color: #99dcdb;
  font-size: 70px;
  margin-top: 200px;
  margin-left: 170px;
}
/* Fade in Animation of tip instruction*/
.fadeIn {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.6s;
}

.active {
  color: #99dcdb;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
